<main id='favourite-list' role='main'>
  <ul>
    <li ng-repeat='font in fonts | filter:filterFavourites' ng-style='{"font-family" : "\"" + font.family + "\""}'>
      <div class='data'>
        <h4>{{font.family}}</h4>
        <span class='remove-favourite' ng-click='favourite(font.id)'>&#215;</span>
      </div>
      <big>{{sample}}</big>
    </li>
  </ul>
</main>

<nav id='favourite-menu'>
  <input type='text' ng-model='sample' ng-change='saveSample()' id='sampleText'>
  <a href='#/' class='button'>Go Back</a>
</nav>
