<main id='font-detail' role='main' ng-style='{"font-family" : "\"" + font.family + "\""}'>
  <header>
    <h1>{{font.family}}</h1>
    <a href='#/' class='button'>Go back</a>
  </header>
  <ul id='character-set'>
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>I</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>N</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li>R</li>
    <li>S</li>
    <li>T</li>
    <li>U</li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
    <li>e</li>
    <li>f</li>
    <li>g</li>
    <li>h</li>
    <li>i</li>
    <li>j</li>
    <li>k</li>
    <li>l</li>
    <li>m</li>
    <li>n</li>
    <li>o</li>
    <li>p</li>
    <li>q</li>
    <li>r</li>
    <li>s</li>
    <li>t</li>
    <li>u</li>
    <li>v</li>
    <li>w</li>
    <li>x</li>
    <li>y</li>
    <li>z</li>
    <li>0</li>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>(</li>
    <li>.</li>
    <li>;</li>
    <li>:</li>
    <li>?</li>
    <li>!</li>
    <li>$</li>
    <li>€</li>
    <li>&#38;</li>
    <li>-</li>
    <li>*</li>
    <li>@</li>
    <li>)</li>
    <li>[</li>
    <li>ä</li>
    <li>ö</li>
    <li>ü</li>
    <li>ß</li>
    <li>å</li>
    <li>ø</li>
    <li>ç</li>
    <li>]</li>
    <li>{</li>
    <li>Ä</li>
    <li>Ö</li>
    <li>Ü</li>
    <li>Ø</li>
    <li>Ç</li>
    <li>}</li>
    <li>"</li>
    <li>#</li>
    <li>%</li>
    <li>'</li>
    <li>+</li>
    <li>,</li>
    <li>/</li>
    <li>&#60;</li>
    <li>=</li>
    <li>\</li>
    <li>&#62;</li>
    <li>^</li>
    <li>_</li>
    <li>`</li>
    <li>|</li>
    <li>~</li>
    <li>¡</li>
    <li>¢</li>
    <li>£</li>
    <li>¤</li>
    <li>¥</li>
    <li>¦</li>
    <li>§</li>
    <li>¨</li>
    <li>©</li>
    <li>ª</li>
    <li>«</li>
    <li>¬</li>
    <li>­</li>
    <li>®</li>
    <li>¯</li>
    <li>°</li>
    <li>±</li>
    <li>²</li>
    <li>³</li>
    <li>´</li>
    <li>µ</li>
    <li>¶</li>
    <li>·</li>
    <li>¸</li>
    <li>¹</li>
    <li>º</li>
    <li>»</li>
    <li>¼</li>
    <li>½</li>
    <li>¾</li>
    <li>¿</li>
    <li>À</li>
    <li>Á</li>
    <li>Â</li>
    <li>Ã</li>
    <li>Å</li>
    <li>Æ</li>
    <li>È</li>
    <li>É</li>
    <li>Ê</li>
    <li>Ë</li>
    <li>Ì</li>
    <li>Í</li>
    <li>Î</li>
    <li>Ï</li>
    <li>Ð</li>
    <li>Ñ</li>
    <li>Ò</li>
    <li>Ó</li>
    <li>Ô</li>
    <li>Õ</li>
    <li>×</li>
    <li>Ù</li>
    <li>Ú</li>
    <li>Û</li>
    <li>Ý</li>
    <li>Þ</li>
    <li>à</li>
    <li>á</li>
    <li>â</li>
    <li>ã</li>
    <li>æ</li>
    <li>è</li>
    <li>é</li>
    <li>ê</li>
    <li>ë</li>
    <li>ì</li>
    <li>í</li>
    <li>î</li>
    <li>ï</li>
    <li>ð</li>
    <li>ñ</li>
    <li>ò</li>
    <li>ó</li>
    <li>ô</li>
    <li>õ</li>
    <li>÷</li>
    <li>ù</li>
    <li>ú</li>
    <li>û</li>
    <li>ý</li>
    <li>þ</li>
    <li>ÿ</li>
    <li>ı</li>
    <li>Ĳ</li>
    <li>ĳ</li>
    <li>Ł</li>
    <li>ł</li>
    <li>Œ</li>
    <li>Š</li>
    <li>š</li>
    <li>Ÿ</li>
    <li>Ž</li>
    <li>ž</li>
    <li>ſ</li>
    <li>ƒ</li>
    <li>ʻ</li>
    <li>ʼ</li>
    <li>ˆ</li>
    <li>ˇ</li>
    <li>˘</li>
    <li>˙</li>
    <li>˚</li>
    <li>˛</li>
    <li>˜</li>
    <li>˝</li>
    <li> ̀</li>
    <li> ́</li>
    <li> ̂</li>
    <li> ̃</li>
    <li> ̄</li>
    <li> ̆</li>
    <li> ̇</li>
    <li> ̈</li>
    <li> ̊</li>
    <li> ̋</li>
    <li> ̌</li>
    <li> ̒</li>
    <li> ̓</li>
    <li>ﬀ</li>
    <li>ﬁ</li>
    <li>ﬂ</li>
    <li>ﬃ</li>
    <li>ﬄ</li>
    <li>ﬅ</li>
    <li>ﬆ</li>
  </ul>
</main>
