<main id='font-list' role='main'>
  <ul>
    <li ng-repeat='font in fonts | filter: query' ng-style='{"font-family" : "\"" + font.family + "\""}'>
      <a href='#/font/{{font.id}}'>
        <h3 title='{{font.family}}'>{{font.family}}</h3>
        <ul class='samples'>
          <li class='normal'>{{sample}}</li>
          <li class='uppercase'>{{sample}}</li>
          <li class='bold'>{{sample}}</li>
          <li class='italics'>{{sample}}</li>
        </ul>
      </a>
      <span class='favourite' ng-click='favourite(font.id)' ng-class='{"i-love-it" : isFavourite(font.id) }'>favourite</span>
    </li>
  </ul>
</main>

<nav id='font-menu'>
  <h1>Font Viewer</h1>

  <label for='search'>Search</label>
  <input type='text' ng-model='query' id='search' role='search'>

  <label for='sampleText'>Sample text</label>
  <input type='text' ng-model='sample' id='sampleText'>

  <h2>Favourites</h2>
  <ul id='favourites'>
    <li ng-repeat='font in fonts | filter:filterFavourites'>
      {{font.family}}
    </li>
  </ul>

  <button>Compare favourites</button>
</nav>
