<main id='font-list' role='main'>
  <ul>
    <li ng-repeat='font in fonts | filter: query' ng-style='{"font-family" : "\"" + font.family + "\""}'>
      <h3 title='{{font.family}}'>{{font.family}}</h3>
    </li>
  </ul>
</main>

<nav id='font-menu'>
  <h1>Font Viewer</h1>

  <label for='search'>Search</label>
  <input type='text' ng-model='query' id='search' role='search'>

  <label for='sampleText'>Sample text</label>
  <input type='text' id='sampleText'>

  <h2>Favourites</h2>
  <ul>
    <li>Star a type to select favourites</li>
  </ul>

  <button>Compare favourites</button>
</nav>
